<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Part 2 | VueJS Demo</title>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
  <div id="app">
    <h1>Most Starred Vue Repos</h1>
    <list v-bind:repos="repos"></list>
    <button v-on:click="fetchRepos">Load More</button>
  </div>
  <script>
    window.__INITIAL_STATE__ = <%- JSON.stringify(json) %>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script src="/app.js"></script>
</body>
</html>